# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/
race-student/
src/main/webapp/css/
src/main/webapp/favicon.ico
src/test/
target/
/src/main/webapp/assets/
/src/main/webapp/document/
/src/main/webapp/echarts/
/src/main/webapp/IAssets/
/src/main/webapp/img/
/src/main/webapp/images/
/src/main/webapp/folder/
/src/main/webapp/jslib/
src/main/java/cn/springmvc/dao/StuRaceDao.java
src/main/java/cn/springmvc/entry/StuRace.sql
src/main/java/cn/springmvc/service/StuRaceService.java
src/main/java/cn/springmvc/service/impl/DataSatisticsServiceImpl.java
src/main/java/cn/springmvc/service/impl/StudentServiceImpl.java
src/main/resources/mapper/StuProMapper.xml
src/main/resources/mapper/StuRaceMapper.xml
src/main/webapp/WEB-INF/jsp/student/applyRace.jsp
src/main/webapp/WEB-INF/jsp/student/othersSelectProject.jsp
