<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
        <!-- 命名空间 -->
    <typeAliases>
    	<typeAlias alias="Project" type="cn.springmvc.entry.Project"/>
    	<typeAlias alias="Teacher" type="cn.springmvc.entry.Teacher"/>
    	<typeAlias alias="Work" type="cn.springmvc.entry.Work"/>
    	<typeAlias alias="Race" type="cn.springmvc.entry.Race"/>
    	<typeAlias alias="Term" type="cn.springmvc.entry.Term"/>
        <typeAlias alias="User" type="cn.springmvc.entry.User"/>

         
    </typeAliases>
 
    <!-- 映射map -->
    <mappers>
    </mappers>
</configuration>